/* Contenedor principal */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Título principal */
.app h1 {
  font-size: 3rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}

.divisor {
  width: 50%;
  margin: 1rem auto;
  border-top: 2px solid #ccc;
}

/* Estilos de los enlaces de navegación */
div ul,
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 2rem 0;
}

.nav-link {
  text-decoration: none;
  background-color: #487c5a;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #2a5f3c;
  color: white;
}

.nav-link:active {
  background-color: #426951;
  transform: translateY(1px);
}

/* Contenedor general de las tarjetas */
.card-container {
  display: flex;
  gap: 20px;  
  justify-content: flex-start; 
  padding: 20px;
  margin: 0 auto;  
  max-width: 1200px; 
}


/* Imagen dentro de la tarjeta */
.card-image {
  width: 100%;
  border-bottom: 1px solid #ddd;  
}

/* Contenido dentro de la tarjeta */
.card-content {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Título dentro de la tarjeta */
.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: normal; 
}

/* Descripción dentro de la tarjeta */
.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal; 
  line-height: 1.5; 
}

/* Botón dentro de la tarjeta */
.card-button {
  background-color: #3C4A28;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.card-button:hover {
  background-color: #2b3d1a;
}

.opciones-button{
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

.opciones-button:hover {
  background-color: #2b3d1a;
}




/*Admin lugares*/

.admin-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

/* Encabezado */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.add-button {
  background-color: #2f4730;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}



/* Tabla */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-table th,
.admin-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  background-color: #3C4A28;
  color: white;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

/* Imagen de los lugares */
.place-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Botones */
.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: #7d848b;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
 
}

.edit-button:hover {
  background-color: #c8ccd8;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

}

.delete-button:hover {
  background-color: #d32f2f;
}

/* Mensajes */
.confirmation-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.empty-message {
  text-align: center;
  color: #555;
  font-size: 16px;
}




/*Admin edit form*/

