/* Contenedor principal */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Título principal */
.app h1 {
  font-size: 3rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}

.divisor {
  width: 50%;
  margin: 1rem auto;
  border-top: 2px solid #ccc;
}

/* Estilos de los enlaces de navegación */
div ul,
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 2rem 0;
}

.nav-link {
  text-decoration: none;
  background-color: #487c5a;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #2a5f3c;
  color: white;
}

.nav-link:active {
  background-color: #426951;
  transform: translateY(1px);
}

/* Contenedor general de las tarjetas */
.card-container {
  display: flex;
  gap: 20px;  
  justify-content: flex-start; 
  padding: 20px;
  margin: 0 auto;  
  max-width: 1200px; 
}


/* Imagen dentro de la tarjeta */
.card-image {
  width: 100%;
  border-bottom: 1px solid #ddd;  
}

/* Contenido dentro de la tarjeta */
.card-content {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Título dentro de la tarjeta */
.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: normal; 
}

/* Descripción dentro de la tarjeta */
.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal; 
  line-height: 1.5; 
}

/* Botón dentro de la tarjeta */
.card-button {
  background-color: #3C4A28;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.card-button:hover {
  background-color: #2b3d1a;
}
