:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(36, 35, 35);
  background-color: #e6f0e9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  min-height: 100vh;
  background-color: #f3f4f6;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  color: #474948;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-label {
  font-size: 1rem;
  color: #406345;
  margin-bottom: 5px;
}

.login-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.login-input:focus {
  border-color: #2a4e3b;
  outline: none;
}

.login-button {
  background-color: #3C4A28;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #2b3d1a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.m-2 {
  margin: 20px;
}




/*Contacto */
/* Contenedor principal de la sección de contacto */
.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos para la información de contacto */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

/* Estilos de cada ítem de información */
.info-item {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.info-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info-item h3 {
  font-size: 1.3rem;
  color: #333;
  font-weight: bold;
}

.info-item p {
  font-size: 1.1rem;
  color: #666;
  margin-top: 0.5rem;
}

/* Estilos de los enlaces de redes sociales */
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.social-links li {
  font-size: 1.1rem;
}

.social-links a {
  color: #487c5a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #2b3d1a;
}

.map-container {
  margin-top: 3rem;
}

.map-container iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cont_card{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 520px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  justify-content: space-between; 
  margin-bottom: 20px; 

}

.session_usuario{
  margin-bottom: 20px;
}

.card img{
  width: 100%;
  height: auto;
}

.cont_categoria{
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.select{
  height: 50px;
  margin-top: 10px;
  padding: 2px 15px;
  border: 1px solid #2b3d1a;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

/* Responsividad */
@media (max-width: 768px) {
  .contact-info {
    gap: 1rem;
  }

  .info-item {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    flex-direction: column;
    gap: 10px;
  }
}

